---
BasedOnStyle: Microsoft
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: 'false'
BreakStringLiterals: 'true'
ColumnLimit: '120'
IndentWrappedFunctionNames: 'true'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
Language: Cpp
NamespaceIndentation: None
SortIncludes: 'true'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
PointerAlignment: Left
TabWidth: '4'
UseTab: Never
AccessModifierOffset: -4
...
